{% extends 'base.html' %}
{% block title %}{{ user.username }}{% endblock %}
{% block content %}

<main class="container-fluid text-bg-dark">
    <div class="row vh-100 text-center justify-content-center align-items-center">
        <div class="col-md-6">

            <!-- Username Section -->
            <div class="mb-3 text-center">
                <label for="username" class="form-label text-light">Username</label>
                <div class="d-flex justify-content-between align-items-center border p-2 rounded bg-secondary">
                    <span id="username" class="text-light">{{ user.username }}</span>
                    <button class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#username-modal">Modify</button>
                    <div class="modal fade" id="username-modal">
                        <div class="modal-dialog">
                            <div class="modal-content text-center text-bg-dark">
                                <div class="modal-header">
                                    Modify username
                                </div>
                                <div class="modal-body">
                                    <form method="POST" action="{{ url_for('auth.modify_user', user_id=user.id) }}">
                                        <input class="form-control" name="username" value="{{ user.username }}">
                                        <div class="modal-footer justify-content-center">
                                            <button class="btn btn-secondary bt-sm mt-2" type="submit">Modify</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

                <!-- Email Section -->
            <div class="mb-3 text-center">
                <label for="username" class="form-label text-light">Email</label>
                <div class="d-flex justify-content-between align-items-center border p-2 rounded bg-secondary">
                    <span id="email" class="text-light">{{ user.email }}</span>
                    <button class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#email-modal">Modify</button>
                    <div class="modal" id="email-modal">
                        <div class="modal-dialog">
                            <div class="modal-content text-center text-bg-dark">
                                <div class="modal-header">
                                    Modify email
                                </div>
                                    <form method="POST" action="{{ url_for('auth.modify_user', user_id=user.id) }}">
                                        <input class="form-control" name="email" value="{{ user.email }}">
                                        <div class="modal-footer justify-content-center">
                                            <button class="btn btn-secondary bt-sm mt-2" type="submit">Modify</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <!-- Password Section -->
                <!-- <div class="mb-3">
                    <label for="Password" class="form-label text-light">Password</label>
                    <div class="d-flex justify content-between align-items-center border p-2 rounded bg-secondary">
                        <span id="password" class="text-light">{{ user.password }}</span>
                        <a class="btn btn-sm btn-outline-dark" href="#">Modify</a>
                    </div> -->
                </div>
        </div>
    </div>
</main>


{% endblock %}